.App {
	background-color: rgb(219, 186, 91);
	min-width: 100vw;
	min-height: 100vh;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App {
	background-image: url(../components/imagens/fundo.jpg)
	;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

