.BemVindo {
     
    animation-name: zoom;
    animation: zoom 7s ease-out ;
    animation-iteration-count: 1;
   	padding: 0px;
    margin: 0px;
  	display: flex;
	flex-direction: column;
	justify-content: center;
    position: absolute;
	bottom: 0;
}


@keyframes is-bouncing {
    to {
        animation-delay: 5s;
    }
}

@keyframes zoom {
    from {
        opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  }