.formCadastroPassaro {
	background-color: rgba(240, 248, 255, 0.178);
	width: 45vw;
	border-radius: 5px;
	margin: 40px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.formCadastroPassaro h2 {
	margin-bottom: 30px;
}
.input-form {
	min-width: 80%;
	padding: 5px;
	margin-bottom: 10px;
}

.btn-cadastrar {
	margin-left: auto;
	margin-top: 20px;
	color: rgba(95, 95, 95, 0.904);
	background-color: rgba(219, 186, 91, 0.425);
	padding: 10px 20px;
	border: none;
}
.btn-cadastrar:hover {
	background-color: rgba(219, 186, 91, 0.45);
}

@media screen and (min-width: 319px) and (max-width: 1023px) {
	.formCadastroPassaro {
		width: 80vw;
	}
}
