.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	margin: auto;
}
.card {
	background-color: rgba(228, 215, 177, 0.5);
	min-width: 23vw;
	padding: 0.2rem;
	margin: 0.2rem;
}
.card-header {
	text-transform: uppercase;
}
.card-title::first-letter {
	text-transform: uppercase;
}
.card-body {
	text-align: justify;
}
ul {
	list-style: none;
}
