@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");

body {
	margin: 0;
	font-family: "Bahiana", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Bahiana", cursive;
}
