* {
	font-family: "Bahiana", cursive;
	font-size: 1.2rem;
}

.logo {
	max-width: 180px;
}

.name-site {
	text-transform: uppercase;
	text-align: justify;
	letter-spacing: 3px;
}

.logo-name {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 50px;
}

#navbarScroll {
	max-width: fit-content;
	padding: 10px;
	margin-right: 40px;
	justify-content: flex-end;
	background-color: rgba(5, 5, 5, 0.418);
	border-radius: 5px;
}
#navbarScroll:hover,
.nav-link:hover {
	color: burlywood;
}
.nav-link,
.btn-buscar,
.name-site {
	font-size: clamp(1em, 1em + 1vw, 1.3em);
	color: aliceblue;
}

.btn-buscar {
	border: none;
}
