.formbusca {
    display: flex;
    margin-top: 0px;
	margin-left: 945px;
	opacity: 85%;
        
}

.formbusca2 {
    display: flex;
    margin-top: -395px;
	margin-left: 600px;
	opacity: 85%;
}

.formbusca3 {
    display: flex;
    margin-top:-400px;
	margin-left: 200px;
	opacity: 85%;
}